@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="image">
        <div class="container">
            <h2>CAR RENTAL SYSTEM</h2>
            <form action="noaction.php">
                <div class="form-group">
                    <input type="text" name="" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <input type="text" name="" placeholder="Enter Your AGE">
                </div>
                <div class="form-group">
                    <input type="text" name="" placeholder="Enter Your Gender">
                </div>
                <div class="form-group">
                    <input type="text" name="" placeholder="Enter Your Locality">
                </div>
                <div class="form-group">
                    <input type="text" name="" placeholder="Enter Your Phone">
                </div>
                <button class="btn">Submit</button>
            </form>

        </div>
    </div>
    <section class="latest">
        <div class="intro">
            <h1>CAR <span>MODELS</span></h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, soluta.</P>
        </div>
        <div id="card-container">
            <div class="card">
                <div>
                <img src="~/assets/sonata.jpg" alt="">
                </div>
                <h1>Luxary Ride</h1>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
                <p>7S00000 PKR</p>
                <button>Add to cart</button>
            </div>

            <div class="card">
                <div>
                    <img src="~/assets/bmw.jpg" alt="">
                </div>
                <h1>Luxary Ride</h1>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
                <p>1000000 PKR</p>
                <button>Add to cart</button>
            </div>
            <div class="card">
                <div>
                    <img src="~/assets/audi.jpg" alt="">
                </div>
                <h1>Luxary Ride</h1>
                <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
                <p>2000000 PKR</p>
                <button>Add to cart</button>
            </div>

        </div>

        </div>
        <div class="section">
            <h1>ABOUT US</h1>
            <ul>
                <li>24/7 Service</li>
                <!-- <p>Low Cost and Affordability. Car rentals save you from the worries of maintenance fee and depreciation loss</p> -->
                <li>Low Cost and Affordability. Car rentals save you from the worries of maintenance fee and depreciation loss</li>
                <!-- <p>24/7 Service</p> -->

            </ul>
        </div>
        <iframe src="https://youtu.be/lkJJE-gNZ-s" width="420" height="250"></iframe>
    </section>